body {
    margin: 0;
    background: #333333;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.controller {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    padding: 1rem;
    opacity: 20%;
    transition: opacity 0.2s;
    transition-timing-function: ease-in-out;
    justify-content: center;

    display: flex;
    flex-direction: column;
}

.controller:hover {
    opacity: 100%;
}

.controller h1 {
    margin: 0;
    justify-content: center;
}

.sub-header {
    font-size: large;
}

.slider-group {
    width: 100%;
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-between;
}

button {
    border: 1px white solid;
    background: transparent;
    padding: 4px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    outline: none;
}

button:hover {
    color: black;
    background: white;
}

